body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;
}

.logo img {
  height: 50px;
}

nav{
  margin-right: 10px;
}

nav span {
  display: inline-block;
  padding-right: 10px;
  color: seashell;
}

a {
  color: seashell;
}

.main {
  margin: auto;
  width: 1200px;
  padding-top: 69px;
}

#mission {
  height: 700px;
  background-image: url("../images/img-mission-background (1).jpg");
  padding-top: 70px;
}

#mission .content{
  margin: auto;
  background-color: black;
  width: 100%
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#store {
  width: 1000px;
}

#store .content {
  margin: auto
}

.image-content {
  width: 300px;
  height: 200px;
  align-content: space-around;
}
